<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<style>
h1 {text-align: center;}
h2 {text-align: center;}
body {
  background-color: #33E0D4 ;
}
</style>
 <title>Welcome Page For Users</title>
</head>
<body>

     <h1 style="color:#FEFEFE ">You have been logged in successfully.</h1>
     <br/>
     <br/>
     <h2 style="color:#FEFEFE ">if you wanna create new account.</h2>
     <div style="text-align:center">    
        <a href="/new">Signup</a>
    </div>
    <br/><br/>
    <h2 style="color:#FEFEFE ">if you wanna get all users by only admin.</h2>
    <div style="text-align:center">    
        <a  href="/index">All_Users</a>
    </div>
         
</body>
</html>